<%= form_with model:[diary, comment] do |f| %>
  <div id="comments_error">
    <%= render 'layouts/errors', model: f.object %>
  </div>
  <div class="form-group">
    <%= f.text_field :text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn-outline-primary" %>
  </div>
<% end %>