<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>タイムライン</h2>
    </div>
  </div>
  <% if @diaries.blank? %>
    <p class="text-center mt-5">投稿はありません</p>
  <% else %>
    <%= render '/diaries/index', diaries: @diaries %>
  <% end %>
</div>