<% search_groups.each do |group| %>
  <div class="group">
    <div class="group-profile row">
      <%= link_to group_path(group) do %>
        <%= attachment_image_tag group, :image, :fill, 300, 300, fallback: "no_image.jpg", class: "header-profile ml-2" %>
        <span class="profile-name"><%= group.name %></span>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>