<div class="container">
  <div class="row">
    <div class="groups w-100">
      <div class="row mb-4">
          <div class="mx-auto">
            <div class="row">
              <h2 class="mr-2">参加中のグループ</h2>
              <%= link_to "作成", new_group_path, class: "btn btn-outline-primary" %>
            </div>
          </div>
      </div>
      <hr>
      <% if @groups.blank? %>
        <p class="text-center mt-5">参加中のグループはありません</p>
      <% else %>
      <div id="group_index">
        <%= render 'index', groups: @groups %>
      </div>
      <div class="more text-center my-5">
        <%= link_to_next_page @groups, "もっと見る", remote: true, id: "groups_more" %>
      </div>
      <% end %>
    </div>
  </div>
</div>