<div class="container">
  <h2 class="text-center">お気に入り</h2>
  <div class="row">
    <%= link_to "自分の投稿", favorite_diaries_path, class: "btn btn-outline-primary ml-auto" %>
  </div>
  <hr>
  <div class="mt-3">
    <% if @group_diaries.blank? %>
      <p class="text-center mt-5">お気に入りの投稿はありません</p>
    <% else %>
      <div id="timeline">
        <%= render 'favorite_group_diary', group_diaries: @group_diaries %>
      </div>
      <div class="more text-center my-5">
        <%= link_to_next_page @group_diaries, "もっと見る", remote: true, id: "timeline_more" %>
      </div>
    <% end %>
  </div>
</div>