/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "simple_calendar";

 body {
  margin-top: 66px;
  background-color: #f3eee4;
  font-family: 'Yomogi', cursive;
  font-size: 19px;
  color: #222;
 }

 img {
  -webkit-backface-visibility: hidden;
 }

 a,
 a:active {
   color: inherit;
 }

 a:hover {
  text-decoration: none;
  color: orange;
 }

 header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f3eee4;
  z-index: 3;
  li {
   list-style: none;
  }
 }

 .main {
  position: relative;
  top: 12px;
 }

 .left {
  margin-right: auto;
  .sidebar {
   position: sticky;
   top: 78px;
   overflow-y: auto;
  }
  .menu-bar {
   display: none;
  }
 }

 .center {
  margin: 0 auto;
  border-right: 1px solid #dbdbdb85;
  border-left: 1px solid #dbdbdb85;
 }

 .right {
  margin-left: auto;
  width: 20%;
  .sidebar {
   position: sticky;
   top: 78px;
   overflow-y: auto;
  }
 }

 .menu {
  list-style: none;
  text-decoration: none;
  color: #444;
  background-color: #f3eee4;
  .menu-item {
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 10px;
   &:hover {
    border-bottom: 3px solid orange;
   }
  }
  .btn {
   margin-top: 10px;
  }
 }

 .top {
  height: 400px;
 }

 .logo {
  font-size: 35px;
  font-family: 'Indie Flower';
 }

 #back {
  position: fixed;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
  .arrow {
   padding-top: 1px;
   display: inline-block;
   font-size: 25px;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   color: #666;
   background-color: #dbdbdb;
   text-align: center;
  }
 }

 .header-profile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  font-size: 40px;
 }

 .profile-name {
  font-size: 20px;
  &:hover {
   border-bottom: 2px solid orange;
  }
 }

 .profile {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
 }

 .user-name {
  font-weight: bold;
 }

 .day {
  font-weight: bold;
 }

 .count {
  font-size: 19px;
 }

//日記投稿機能のcss//

 .diary-moods {
  display: flex;
  justify-content: space-between;
  input[type="radio"] {
   display: none;
  }
 }

 .mood-btn {
  .diary-mood {
   cursor: pointer;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-transition: all .3s;
   transition: all .3s;
   z-index: 1;
   &:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
   }
  }
  input[type="radio"]:checked + label {
   border-radius: 45%;
   -webkit-transition: background-color .3s;
   transition: background-color .3s;
   background-color: #6479e338;
  }
 }

 .diary-edit {
  display: flex;
  align-items: center;
  margin-left: auto;
 }

 //ここまで//

 .calendar-mood {
  width: 70px;
  height: 70px;
 }

 .heart:hover {
  color: red;
 }

 .heart-red {
  color: red;
  &:hover {
   color: red;
  }
 }

 .timeline-item {
 }

 .time-text {
  color: #555;
 }

 .diary-image {
  border-radius: 15px;
 }

 .simple-calendar {
  .prev-btn,
  .next-btn,
  .calendar-title {
   font-weight: bold;
  }
}

.diary-menu {
 display: flex;
 align-items: center;
 margin-left: auto;
}

.circle-menu {
 border-radius: 50%;
}

.group-info {
 word-break: break-all;
}

//検索窓のcss//

.search-form{
 box-sizing: border-box;
 position: relative;
 border: 1px solid #999;
 display: block;
 margin: 0 auto;
 padding: 3px 10px;
 border-radius: 20px;
 height: 2.3em;
 width: 265px;
 overflow: hidden;
 background-color: white;
 input[type="text"]{
  border: none;
  height: 2.0em;
 }
 input[type="text"]:focus {
  outline: 0;
 }
 button[type="submit"]{
  height: 10px;
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
 }
}

//ここまで//

//下部にメニューバー表示に変更//

 @media screen and (max-width: 768px) {
  .center {
   border-left: none;
  }
  .left {
   .sidebar {
    display: none;
   }
   .menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f3eee4;
    z-index: 3;
    .menu {
     display: flex;
     justify-content: space-between;
    }
    li {
     width: 100%;
     font-size: 40px;
     color: #555;
     p {
      font-size: 15px;
     }
    }
   }
  }
  footer {
   width: 100%;
   height: 100px;
  }
 }

 //ここまで//

 //サイドバー右を非表示//

 @media screen and (max-width: 1024px) {
  .center {
   border-right: none;
  }
  .right {
   display: none;
  }
 }

 //ここまで//