/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "simple_calendar";

 body {
  margin-top: 66px;
  background-color: #f3eee4;
 }

 img {
  -webkit-backface-visibility: hidden;
 }

 a,
 a:visited,
 a:active {
   color: inherit;
 }

 // a:hover {
 //  color: rgba(0, 0, 0, 0.6);
 // }

 header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f3eee4;
 }

 .sidebar {
  position: sticky;
  top: 66px;
 }

 .menu {
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f3eee4;
 }

 .left{
  margin-right: auto;
 }

 .center {
  margin: 0 auto;
 }

 .right {
  margin-left: auto;
 }

 .top {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .header-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
 }

 .profile {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
 }

 .menu li {
  margin-bottom: 7px;
 }

 .diary-edit {
  display: flex;
  align-items: center;
  margin-left: auto;
 }

 .timeline-item {
 }

 .image {
  border-radius: 15px;
 }

 .simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

