/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "simple_calendar";

 body {
  margin-top: 66px;
  background-color: #f3eee4;
 }

 img {
  -webkit-backface-visibility: hidden;
 }

 a,
 a:active {
   color: inherit;
 }

 a:hover {
  text-decoration: none;
  color: orange;
 }

 header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f3eee4;
  li {
   list-style: none;
  }
 }



 .menu {
  list-style: none;
  text-decoration: none;
  color: #444;
  background-color: #f3eee4;
  .menu-item {
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 10px;
   &:hover {
    border-bottom: 3px solid orange;
   }
  }
  .btn {
   margin-top: 10px;
  }
 }

 .left {
  margin-right: auto;
  .sidebar {
   position: sticky;
   top: 66px;
   overflow-y: auto;
  }
  .menu-bar {
   display: none;
  }
 }

 //下部にメニューバー表示に変更

 @media screen and (max-width: 768px) {
  .left {
   .sidebar {
    display: none;
   }
   .menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f3eee4;
    .menu {
     display: flex;
     justify-content: space-between;
    }
    li {
     width: 100%;
     font-size: 40px;
     color: #555;
     p {
      font-size: 15px;
     }
    }
   }
  }
 }

 .center {
  margin: 0 auto;
 }

 .right {
  margin-left: auto;
  width: 20%;
  .sidebar {
   position: sticky;
   top: 66px;
   overflow-y: auto;
  }
 }

 @media screen and (max-width: 1024px) {
  .right {
   display: none;
  }
 }

 .top {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .header-profile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  font-size: 40px;
 }

 .profile-name {
  font-size: 20px;
  &:hover {
   border-bottom: 2px solid orange;
  }
 }

 .profile {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
 }

 .diary-moods {
  display: flex;
  justify-content: space-between;
  input {
   display: none;
  }
 }

 // .diary-mood {
 //  width: 40%;
 //  height: auto;
 // }

 .diary-edit {
  display: flex;
  align-items: center;
  margin-left: auto;
 }

 .heart:hover {
  color: red;
 }

 .heart-red {
  color: red;
  &:hover {
   color: red;
  }
 }

 #mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
 }

 #modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

 @media screen and (max-width: 1024px) {

 }

 .timeline-item {
 }

 .diary-image {
  border-radius: 15px;
 }

 .simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.count {
 display: inline-block;
}

.diary-menu {
 display: flex;
 align-items: center;
 margin-left: auto;
}

.circle-menu {
 border-radius: 50%;
}